/**************************************/
/*               HTML5                */
/**************************************/
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

/**************************************/
/*              GLOBALS               */
/**************************************/
.container {
    width:550px;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration:none;
}

a:link, a:visited {
    color:#FF0000;
}

a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited, a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
    padding-right:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"DejaVu Serif Condensed",Cambria,"Bitstream Vera",Georgia,"Times New Roman",serif;
}

html, body {
    font-family:"DejaVu Sans",Calibri,"Bitstream Vera Sans",Verdana,sans-serif;
}

h2 {
    font-size:1.5em;
}

dl, fieldset {
    margin-top:0;
}

/**************************************/
/*              HEADER                */
/**************************************/
.container header h1 {
    margin-bottom:0.3em;
}

.container header h1 a {
    color:#000 !important;
}

.container header h1 a:hover {
    color:#FF0000 !important;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/
nav {
    margin-bottom:2.5em;
}

nav ul {
    margin-left:0;
    margin-top:0;
    padding-left:0;
}

nav li {
    display:inline;
    margin-left:0;
    margin-right:0.85em;
    text-transform:uppercase;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
article {
    margin-bottom:3.5em;
}

article header {
    color:#999;
    margin-bottom:0.85em;
}

article header h2 {
    margin-bottom:0.2em;
}

article header h2 a {
    color:#000 !important;
}

article header h2 a:hover {
    color:#FF0000 !important;
}

article header time {
    margin-right:10px;
}

#feedback input[type=text] {
    width:300px;
}

#feedback textarea {
    width:540px;
}

#feedback fieldset {
    border:0;
}

#feedback form dd {
    margin-left:0;
}

#feedback fieldset, #feedback fieldset legend {
    padding:0;
}

#comments {
    margin-bottom:3em;
}

#comments article {
    border-left:1px solid #DDD;
    padding-left:15px;
    margin-bottom:2em;
}

#comments article header {
    margin-bottom:0.25em;
}

#comments article header time {
    float:right;
}

#comments article header time a {
    color:#999;
}

.comment.bypostauthor {
    border-left-color:#00d30a !important;
}

.comment.unapproved {
    border-left-color:#ffDD00 !important;
}

/**************************************/
/*               FOOTER               */
/**************************************/
.container > footer {
    border-top:1px solid #CCC;
    color:#999;
}

.container > footer .right {
    float:right;
}

/**************************************/
/*            PAGE-SPECIFIC           */
/**************************************/
body.archive article {
    margin-bottom:1em;
}

body.archive article:last-of-type, body.archive article[id] {
    margin-bottom:3.5em;
}
